* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

.VCOVER {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/render\ 1edit.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;

}

.navlinks {
    flex: 1;
    text-align: right;
}

nav .logo {
    width: 200px;
    cursor: pointer;
}

.navlinks ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navlinks ul li a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    position: relative;
}

.navlinks ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(6, 207, 36);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navlinks ul li a:hover::after {
    width: 100%;

}

.container {
    margin-left: 30%;
    margin-top: 5px;
    width: 40%;
    height:70%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 25px;
    


}

form {
    animation: transitionInc 1s;
}

@keyframes transitionInc {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw;
    width: 89%;
    max-width: 600px;
    border-radius: 10px;
    backdrop-filter: blur(10px);

}

.inputform {
    margin-bottom: 20px;
    position: relative;
}

form h2 {
    font-weight: 800;
    margin-bottom: 10px;
    color: white;
}

form input,
form textarea {
    width: 97%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    outline: 0;
    background: transparent;
    font-size: 16px;
    color: white;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    padding: 9px;
    color: white;
    cursor: text;
    transition: 0.3s;
}

form button {
    padding: 15px;
    background: rgb(169, 234, 168);
    border: none;
    border-radius: 25px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    font-weight: 200;
}

form input:focus~label,
form input:valid~label {
    top: -25px;
    color: rgb(169, 234, 168);
    font-size: 15px;

}

form textarea:focus~label,
form textarea:valid~label {
    top: -25px;
    color: rgb(169, 234, 168);
    font-size: 15px;

}

form a {
    flex-wrap: wrap;
    text-decoration: none;
    color: white;
    width: 30px;
    left: 80%;
    top: 1%;
    
    
}

form a i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 20px;
    margin: 20px;
    transition: 0.7s;
}

form a i:hover {
    color: gray;

}

nav .fa-solid {
    display: none;
}
@media (max-width:940px){
    form a {
        text-decoration: none;
        color: white;
        width: 30px;
        left: 80%;
        top: 1%;
    }

    form a i {
        color: white;
        font-size: 18px;
        margin: 12px;

    }

   
}

@media (max-width:800px) {
    nav .logo {
        margin-top: 10px;
        margin-left: 10px;
        width: 140px;
        cursor: pointer;
    }

    .content h1 {
        font-size: 40px;
        margin-top: 80px;
    }

    .content p {
        font-size: 15px;

    }

    .navlinks ul li {
        display: block;
        margin-left: 0;
        margin-top: 50px;

    }

    .navlinks ul li a {
        display: inline-block;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .navlinks {
        position: absolute;
        background: green;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -210px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }

    .container {
        margin-left: 5%;
        margin-top: 5px;
        width: 90%;
        height: 85%;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 25px;
        backdrop-filter: blur(10px);


    }

    form {
        display: flex;
        flex-direction: column;
        padding: 2vw 2vw;
        width: 85%;
        max-width: 600px;
        border-radius: 10px;
    }

    form input,
    form textarea {
        width: 93%;
        border: 1px solid white;
        border-radius: 10px;
        margin: 5px 0;
        padding: 10px;
        outline: 0;
        background: transparent;
        font-size: 16px;
        color: white;
    }

    form h2 {
        font-weight: 30;
        font-size: 20px;
        margin-bottom: 20px;
        color: white;
    }

    .mes {
        color: white;
        width: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        left: 70%;
        top: 3%;
        position: absolute;
    }

    .mes .social i {
        color: white;
        font-size: 30px;
        margin: 30px;

    }

    .mes .social i:hover {
        font-size: 20px;
        margin: 10px;
        transform: inherit;
    }


}


